<?php Block::put('breadcrumb') ?>
    <ul>
        <li>
            <a href="<?= Backend::url('cutesy/community/invites') ?>">
                <?= e(trans('cutesy.community::lang.invites.titles.list')) ?>
            </a>
        </li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<!-- Primary content -->
<?php Block::put('form-contents') ?>
    <div class="layout-row">
        <?= $this->formRenderOutsideFields() ?>
        <?= $this->formRenderPrimaryTabs() ?>
    </div>
<?php Block::endPut() ?>

<!-- Complimentary sidebar -->
<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <?= $this->formRenderSecondaryTabs() ?>

        <?php if ($formModel->is_sent): ?>

            <div class="callout callout-success">
                <div class="header">
                    <i class="icon-info"></i>
                    <h3>Приглашение было успешно отправлено!</h3>
                </div>
            </div>

        <?php elseif ($formModel->is_used): ?>

            <div class="callout callout-success">
                <div class="header">
                    <i class="icon-info"></i>
                    <h3>Приглашение было успешно использовано!</h3>
                </div>
            </div>

        <?php else: ?>

            <div class="callout callout-warning">
                <div class="header">
                    <i class="icon-warning"></i>
                    <h3>Приглашение не отправлено!</h3>
                </div>
                <div class="content">
                    <div class="loading-indicator-container text-center">
                        <button
                            type="button"
                            class="btn btn-warning"
                            data-request="onSendInvite"
                            data-load-indicator="Отправка Приглашения..."
                            data-request-confirm="Вы действительно хотите отправить это приглашение?">
                            Отправить Приглашение
                        </button>
                    </div>
                </div>
            </div>

        <?php endif ?>
    </div>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <!-- Layout execution -->
    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>
    <p class="flash-message static error">
        <?= e(trans($this->fatalError)) ?>
    </p>
    <p>
        <a href="<?= Backend::url('cutesy/community/invites') ?>" class="btn btn-default">
            <?= e(trans('backend::lang.form.return_to_list')) ?>
        </a>
    </p>
<?php endif ?>