subject = "Cutesy team invite you!"
==

Hi,

Good news! Cutesy just invited you to a project.

{{ link }}{{ code }}
==

<p>Hi,</p>

<p>Good news! Cutesy just invited you to a project.</p>

<p>{{ link }}{{ code }}</p>