subject = "Cutesy team approved your request!"
==

Hi!

Good news! Cutesy team approved your request to create a master profile.

http://cutesy.dev/#profile/create
==

<p>Hi!</p>

<p>Good news! Cutesy team approved your request to create a master profile.</p>

<p><a href="http://cutesy.dev/#profile/create">Create Profile</a></p>