<?php Block::put('breadcrumb') ?>
    <ul>
        <li>
            <a href="<?= Backend::url('cutesy/community/requests') ?>">
                <?= e(trans('cutesy.community::lang.requests.titles.list')) ?>
            </a>
        </li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<!-- Primary content -->
<?php Block::put('form-contents') ?>
    <div class="layout-row">
        <?= $this->formRenderOutsideFields() ?>
        <?= $this->formRenderPrimaryTabs() ?>
    </div>
<?php Block::endPut() ?>

<!-- Complimentary sidebar -->
<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <?= $this->formRenderSecondaryTabs() ?>

        <?php if ($formModel->status == $formModel::STATUS_FRESH): ?>

            <div class="callout callout-warning">
                <div class="header">
                    <i class="icon-warning"></i>
                    <h3>Запрос не рассмотрен</h3>
                    <p>Ожидаем решения компетентных лиц</p>
                </div>
                <div class="content">
                    <div class="loading-indicator-container text-center">
                        <div class="form-group">
                            <button
                                type="button"
                                class="btn btn-success"
                                data-request="onRequestApprove"
                                data-load-indicator="Подтверждаем запрос..."
                                data-request-confirm="Вы действительно хотите подтвердить этот запрос?"
                                style="width: 100%; text-align: center;">
                                Подтвердить
                            </button>
                        </div>
                        <div class="form-group">
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-request="onRequestReject"
                                data-load-indicator="Отклоняем запрос..."
                                data-request-confirm="Вы действительно хотите отклонить этот запрос?"
                                style="width: 100%; text-align: center;">
                                Отклонить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        <?php elseif ($formModel->status == $formModel::STATUS_APPROVED): ?>

            <div class="callout callout-success">
                <div class="header">
                    <i class="icon-info"></i>
                    <h3>Запрос был подтвержден!</h3>
                    <p>У — Удача!</p>
                </div>
            </div>

        <?php elseif ($formModel->status == $formModel::STATUS_REJECTED): ?>

            <div class="callout callout-danger">
                <div class="header">
                    <i class="icon-info"></i>
                    <h3>Запрос был отклонён :(</h3>
                    <div class="loading-indicator-container text-center">
                        <button
                            type="button"
                            class="btn btn-success"
                            data-request="onRequestApprove"
                            data-load-indicator="Разблокирование..."
                            data-request-confirm="Вы действительно хотите подтвердить этот запрос?">
                            Подтвердить запрос
                        </button>
                    </div>
                </div>
            </div>

        <?php endif ?>
    </div>
<?php Block::endPut() ?>


<?php if (!$this->fatalError): ?>

    <!-- Layout execution -->
    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>
    <p class="flash-message static error">
        <?= e(trans($this->fatalError)) ?>
    </p>
    <p>
        <a href="<?= Backend::url('cutesy/community/requests') ?>" class="btn btn-default">
            <?= e(trans('backend::lang.form.return_to_list')) ?>
        </a>
    </p>
<?php endif ?>